.display-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    border-radius: 16px;
    border: 4px solid rebeccapurple;
    padding: 16px;
    justify-content: center;
    justify-items: center;


}
.display-container img{
    border-radius: 16px;
}