.family-tree div{
    border: 2px solid tan;
    border-radius: 12px;
    padding: 12px;
    margin: 6px;
    
}
.family-tree{
    border: 2px solid tan;
    border-radius: 12px;
    padding: 12px;
    margin: 6px;
    
}
